[Unit]
Description=create /usr/share/prometheus/.htpasswd
Requires=local-fs.target confd.service
After=confd.service
Before=nginx.service

[Service]
StandardOutput=journal+console
StandardError=journal+console
User=root
Group=root
Type=oneshot

ExecStart=/usr/share/create-htpasswd.sh

SyslogIdentifier=create-htpasswd

[Install]
WantedBy=multi-user.target
RequiredBy=nginx.service
