[Unit]
Description=resin-vpn
Requires=confd.service openvpn@server.service
Before=openvpn@server.service
After=confd.service

[Service]
WorkingDirectory=/usr/src/app
EnvironmentFile=/usr/src/app/config/env
ExecStartPre=/bin/bash -c 'mkdir -p /dev/net; if [ ! -c /dev/net/tun ]; then mknod /dev/net/tun c 10 200; fi'
ExecStart=/usr/src/app/node_modules/.bin/coffee src/app.coffee
Restart=always

[Install]
WantedBy=basic.target
