extends layout

block header
	| Device Not Found
	
block content
	.alert.alert-warning
		p We can't find a <a href="https://resin.io">resin.io</a> device with UUID #{deviceUuid}.
		p Please check your URL.
