extends layout

block header
	| Error Accessing the Device

block content
	.alert.alert-danger
		p We encountered an error when reaching this <a href="https://resin.io">resin.io</a> device (UUID #{deviceUuid}):
		p
			code #{error}
		p One possible reason is because nothing is listening on port #{port} on the device.
