doctype html
html
	head
		meta(charset="utf8")
		title Resin.io Device Public URLs

		link(rel="shortcut icon" href="https://resin.io/favicon.png")

		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css", rel="stylesheet")
		style.
			body {
				background-color: #2d2d2c;
			}
			.alert {
				font-size: 130%;
				line-height: 1.6;
				margin-top: 2.5em;
			}
			.logo {
				display: inline-block;
				height: 1em;
				margin-right: 0.4em;
				position: relative;
				top: -0.05em;
			}
	body
		.container
			h1
				a(href="https://resin.io")
					img.logo(src="https://resin.io/logo/logo.svg")
				block header
			block content

			.alert.alert-info
				p Device Public URLs is the <a href="https://resin.io">resin.io</a> feature that provides individual URLs for resin.io-connected devices.
				p Resin.io does not serve anything on this URL, we just proxy all the requests to whatever is listening on the device.
				p This means that the creator of the application is responsible for running a web-server on the device.
				p We currently support ports 80 and 8080 (so 2 different services can be listening).
				p The Public URLs feature is opt-in: no devices are exposed without application owner's permission.
