{{- /* Global Settings */ -}}
{{ $maxconn := getenv "VPN_HAPROXY_MAXCONN" "10000" -}}
{{ $timeout := getenv "VPN_HAPROXY_TIMEOUT" (getenv "VPN_KEEPALIVE_TIMEOUT" "60") -}}
{{- /* VPN Settings */ -}}
{{ $vpnPort := getenv "BALENA_VPN_PORT" -}}
{{- /* bindOpts = "accept-proxy" unless VPN_HAPROXY_ACCEPT_PROXY == 'false' */ -}}
{{ $bindOpt := (or (and (eq (getenv "VPN_HAPROXY_USEPROXYPROTOCOL" "false") "true") "accept-proxy") "") -}}
{{- /* servers = getenv(VPN_INSTANCE_COUNT, default=getenv(NPROC) if production else 1) */ -}}
{{ $servers := (getenv "VPN_INSTANCE_COUNT" (or (and (eq (getenv "PRODUCTION_MODE") "true") (getenv "NPROC")) "1")) -}}

global
	master-worker
	maxconn {{$maxconn}}
	user haproxy
	group haproxy
	log /dev/log local0
	stats socket /var/run/haproxy.sock mode 600 level admin

defaults
	maxconn {{$maxconn}}
	log global
	option dontlognull
	option logasap
	option splice-auto
	option tcp-smart-accept
	option tcp-smart-connect
	timeout connect 10s
	timeout client {{$timeout}}s
	timeout server {{$timeout}}s

{{ if ne (getenv "METRICS_SECRET_TOKEN") "" -}}
userlist metrics
	user monitor insecure-password "{{ getenv "METRICS_SECRET_TOKEN" }}"
{{- end }}

frontend health-80
	mode http
	option httplog
	bind ipv4@:80
	bind ipv4@:81 accept-proxy
	acl vpn_dead nbsrv(vpn-workers) lt 1
	monitor-uri /ping
	monitor fail if vpn_dead
{{- if ne (getenv "METRICS_SECRET_TOKEN") "" }}
	acl is-metrics path /metrics
	acl metrics-auth http_auth(metrics)
	http-request deny if is-metrics !metrics-auth
	use_backend vpn-master if is-metrics metrics-auth

backend vpn-master
	mode http
	server vpn0 127.0.0.1:8080 check
{{- end }}

frontend tcp-{{$vpnPort}}
	mode tcp
	bind ipv4@:{{$vpnPort}} {{$bindOpt}}
	# Routing <client-ip:port>@<frontend> to <backend>/<server>:<port> [Conns Queues Times]
	log-format "Routing %ci:%cp@%ft to %b/%s:%bp [C:%bc/%sc Q:%bq/%sq T:%Tw/%Tc]"
	default_backend vpn-workers

backend vpn-workers
	mode tcp
	balance leastconn
	server-template vpn 1-{{$servers}} 127.0.0.1:10000 check disabled
