{{if exists "/resin/vpn/logentries/token"}}
$template Logentries,"{{getv "/resin/vpn/logentries/token"}} %HOSTNAME% %syslogtag%%msg%\n"
*.* @@data.logentries.com:443;Logentries
{{else}}
# Send logs to /dev/null when there's no logentries token, to stop an rsyslogd infinite restart loop.
*.* | /dev/null
{{end}}
