port 443
management 127.0.0.1 11195

# The API will start the server when its endpoints are available (they are
# required by auth-resin, client-connect and client-disconnect scripts.)
management-hold

ca ca.crt
key server.key
cert server.crt

script-security 3 # Level 3 for username/password auth see below.
client-connect scripts/client-connect.sh
client-disconnect scripts/client-disconnect.sh

dh dh1024.pem
# We don't care about windows compatability, just assign individual IP addresses.
ifconfig-pool-linear

persist-key
persist-tun

dev tun
proto tcp-server
comp-lzo
keepalive 10 60

# Increase the max clients from the default of 1024
max-clients 32768

# Allow authorisation via username/password.
client-cert-not-required
username-as-common-name
auth-user-pass-verify scripts/auth-resin.sh via-env

mode server
tls-server

ifconfig {{ getv "/resin/vpn/gateway" }} 10.2.0.2
ifconfig-pool 10.2.0.4 10.2.255.251
route 10.2.0.0 255.255.0.0
push "route {{ getv "/resin/vpn/gateway" }}"

group nogroup
user nobody

verb 3
mute 20

# use system defaults for sndbuf/rcvbuf - https://community.openvpn.net/openvpn/ticket/461
sndbuf 0
rcvbuf 0
