client
remote <%= vpnhost %> <%= vpnport %>
resolv-retry infinite

remote-cert-tls server
ca ca.crt
auth-user-pass <%= authfile %>
auth-retry nointeract

comp-lzo
dev tun
proto tcp
nobind

persist-key
persist-tun
verb 3
